@using HRExpert.Models.Contracte
@model HRExpert.Models.Contracte.ContractIndexModel

<div id="contracts">
    <h3>Contracte <a class="button" role="button" asp-controller="Contracts" asp-action="AddContract">+</a> <a class="button" role="button" asp-controller="Contracts" asp-action="ExportToExcel"><i class="fa fa-arrow-circle-down"></i></a></h3>
    <div id="contractIndex">
        <table class="table table-condensed" id="contractIndexTable">
            <thead>
                <tr>
                    <th>Tip</th>
                    <th>Nume persoana</th>
                    <th>Prenume persoana</th>
                    <th>Numar</th>
                    <th>Data inceput</th>
                    <th>Data sfarsit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contract in @Model.Contracts)
                {
                    <tr class="contractRow">
                        <td class="">
                            <a id="tip" asp-controller="Contracts" asp-action="Detail" asp-route-id="@contract.Id">
                                @contract.TipContract
                            </a>
                        </td>
                        <td class="">@contract.PersonName</td>
                        <td class="">@contract.PersonSurname</td>
                        <td class="">@contract.NumarContract</td>
                        <td class="">@contract.DataInceput</td>
                        <td class="">@contract.DataSfarsit</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
